openapi: 3.1.0
info:
  contact:
    email: blah+oapicf@cliffano.com
    name: OpenAPI Clients Factory
    url: https://github.com/oapicf/openapi-iplocation
  description: OpenAPI v3 specification and a set of generated API clients for iplocation.net
  license:
    name: MIT
  title: iplocation.net API
  version: 1.1.1-pre.0
servers:
- url: https://api.iplocation.net
paths:
  /:
    get:
      description: |
        Retrieve geolocation of an IP address.
      parameters:
      - description: An IPv4 or IPv6 address that you would like to lookup.
        explode: true
        in: query
        name: ip
        required: true
        schema:
          type: string
        style: form
      - description: "Output format, the following formats are supported: plain xml\
          \ json jsonp php csv serialized"
        explode: true
        in: query
        name: format
        required: false
        schema:
          type: string
        style: form
      - description: "Delimiter between proxies. Can be used only with format plain.\
          \ The following types are supported: 1 for \"\\n\", 2 for \"<br>\"."
        explode: true
        in: query
        name: delimiter
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__get_200_response'
          description: Successfully processed the request.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__get_400_response'
          description: Failed to complete the request.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/__get_400_response'
          description: Command not found.
      summary: Get geolocation of an IP address
      x-accepts:
      - application/json
components:
  schemas:
    __get_400_response:
      example:
        response_code: response_code
        response_message: response_message
      properties:
        response_code:
          description: Response status code to indicate success or failed completion
            of the API call.
          type: string
        response_message:
          description: Response message to indicate success or failed completion of
            the API call.
          type: string
    __get_200_response:
      example:
        response_code: response_code
        ip_version: 0
        response_message: response_message
        ip: ip
        isp: isp
        country_name: country_name
        country_code2: country_code2
        ip_number: ip_number
      properties:
        ip:
          description: IPv4 or IPv6 address used to lookup geolocation.
          type: string
        ip_number:
          description: IP number in long integer (represented as string).
          type: string
        ip_version:
          description: IP version either 4 or 6.
          type: integer
        country_name:
          description: Full name of the IP country.
          type: string
        country_code2:
          description: ISO ALPHA-2 Country Code.
          type: string
        isp:
          description: Internet Service Provider (ISP) who owns the IP address.
          type: string
        response_code:
          description: Response status code to indicate success or failed completion
            of the API call.
          type: string
        response_message:
          description: Response message to indicate success or failed completion of
            the API call.
          type: string

